@import "../utils/typography";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family-sans-serif;
}

body > section {
  display: flex;
  justify-content: center;
  width: 100%;
}

// h1 {
// font-size: map-get($titles, h1-default(font-size));
// }
