@import "../utils/typography";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: $font-family-sans-serif;
  font-style: 16px;
  font-weight: 400;
}

body > section {
  display: flex;
  justify-content: center;
  width: 100%;
}

h1 {
  font-size: 24px;
  font-weight: 700;
}

h2 {
  font-family: $font-family-serif;
  font-size: 28px;
}

h3 {
  font-size: 16px;
  font-weight: 300;
}

h4 {
  font-size: 18px;
  font-weight: 700;
}

.subtitle {
  font-size: 18px;
  font-weight: 400;
}

.subtitle-card {
  font-size: 17px;
  font-weight: 300;
}

.tag {
  font-size: 14px;
  // font-weight: 500;
}
