$color-primary: #9356dc;
$color-secondary: #ff79da;

$color-terciary: #99edd0;
$color-terciary-darker: #269d80;

$color-dark-grey: #353535;
$color-medium-grey: #8a8787;
$color-grey: #eaeaea;
$color-light-grey: #f6f6f6;

$color-black: #000;
$color-white: #fff;

$gradient: linear-gradient(
  164deg,
  rgba(255, 121, 218, 1) 0%,
  rgba(147, 86, 220, 1) 100%
);
$gradient-hover: linear-gradient(
  164deg,
  rgba(255, 121, 218, 0.92) 0%,
  rgba(147, 86, 220, 0.92) 100%
);

$shadow: 2px 2px 8px #ababab;
$shadow-darker: 4px 4px 8px #ababab;
