@import "../utils/colors";
@import "../utils/margins";

button {
  text-decoration: none;
  background: $gradient;
  color: $color-white;
  height: 50px;
  border: none;
  border-radius: 24px;
  padding: 0 map-get($margins, m);
  box-shadow: $shadow;
  font-size: 16px;
  font-weight: 500;
  transition: all 500ms ease-out;
}

button:hover {
  cursor: pointer;
  background: $gradient-hover;
  box-shadow: $shadow-darker;
}
