@import "../utils/typography";
@import "../utils/margins";
@import "../utils/colors";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: $font-family-sans-serif;
  font-style: 16px;
  font-weight: 400;
}

body > main > section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: map-get($margins, xl) 5.5%;
  row-gap: map-get($margins, s);
}

div > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

ol,
ul {
  list-style: none;
}

a {
  color: $color-black;
  text-decoration: none;
}

i.fas,
i.far {
  width: map-get($margins, m);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  border-radius: 18px;
  box-shadow: $shadow;
}
