@import "../utils/colors";
@import "../utils/margins";

.card-restaurant {
  // min-width: 300px;
  // max-width: 600px;
  width: 100%;
  background-color: $color-white;
  overflow: hidden;
  position: relative;
  flex: 1;
  .card__img {
    height: 174px;
    > .tag {
      position: absolute;
      right: 0;
      margin: 12px;
    }
  }
  .card__heading {
    padding: map-get($margins, xs);
    display: flex;
    justify-content: space-between;
    > div {
      row-gap: 4px;
      display: grid;
    }
  }
}
