@import "../utils/colors";
@import "../utils/margins";

footer {
  background-color: $color-dark-grey;
  color: $color-white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: map-get($margins, l) 5.5%;
  row-gap: map-get($margins, m);
  > ol {
    display: flex;
    flex-direction: column;
    row-gap: map-get($margins, xxs);
    > li a {
      display: flex;
      column-gap: 4px;
      color: $color-white;
      > i {
        width: map-get($margins, m);
      }
    }
    > li a:hover {
      opacity: 0.8;
    }
  }
}

@media (min-width: 700px) {
  footer {
    > ol {
      flex-direction: row;
      column-gap: map-get($margins, m);
    }
  }
}
