@import "../utils/colors";
@import "../utils/margins";

header {
  background-color: $color-white;
  height: map-get($margins, xxxl);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  position: relative;
  box-shadow: $shadow;
}

.header {
  justify-content: start;
  > a {
    height: 100%;
    display: flex;
    justify-content: center;
  }
  > a:nth-child(1) {
    width: 18%;
  }
  > a:nth-child(2) {
    width: calc(100% - 36%);
    align-items: center;
  }
}
