$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-terciary: #99edd0;

$color-black: #000;
$color-white: #fff;

$gradient: linear-gradient(
  164deg,
  rgba(255, 121, 218, 1) 0%,
  rgba(147, 86, 220, 1) 100%
); ;
